@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --primary: 30 146 42;
    --secondary: 70 70 70;
    --thirdary: 92 92 92;
    --background: 245 245 245;
    --shadow: 0 0 0;
    --pageColor: 255 255 255;
}

.dark {
    --primary: 30 146 42;
    --secondary: 226 225 228;
    --thirdary: 138 144 153;
    --background: 49 51 56;
    --shadow: 0 0 0;
    --pageColor: 43 45 49;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: rgb(var(--background));
    border-radius: 15px;
    border: 1px solid rgb(var(--primary));
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px !important;
}

::-webkit-scrollbar-thumb {
    background: rgb(var(--primary)/0.5);
    border-radius: 15px;
    border: 1px solid rgb(var(--primary));
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--primary));
}
